@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,700;1,100&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body{
    background-color: white;
}

.wrapper{
    margin: 0 auto;
    max-width: 1200px;
}

nav{
    background-color: white;
    border-bottom: 2px solid red;
}

nav .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

.logo-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
    margin-left: 10px;
}

.logo{
    width: 50px;
    margin-top: 5px;
}

.logo-text{
    text-decoration: none;
    color: rgb(207, 8, 8);
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
}

.menu svg{
    margin-right: 10px;
    display: none;
}

ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.menu ul li{
    list-style-type: none;
}

.link{
    text-decoration: none;
    color: rgb(207, 8, 8);
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.link:hover{
    color: red;
}

/* FORM */

form{
    display: flex;
    flex-direction: column;
    font-size: 14px;
}

input{
    padding: 15px 60px;
}

label{
    font-weight: bold;
}

input,
textarea {
    margin-bottom: 15px;
}

.form-container{
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 50px;

}

.form-container img{
    width: 300px;
    border-radius: 15px;
}

form button{
    margin-top: 10px;
    font-size: 18px;
    font-weight: 400;
    padding: 10px 50px;
    background-color: rgb(204, 4, 4);
    color: white;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover{
    background-color: red;
}

.img-container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("assets/contatti-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 300px;
    border-radius: 15px;
    transition: filter 0.5s ease;
}

.img-container p{
    color: white;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.img-container:hover{
    filter: brightness(50%);
}

.img-container p:hover{
    opacity: 1;
}



/* FOOTER */

footer{
    background-color: black;
    border-top: 3px solid red;
}

.footer-container{
    display: flex;
    justify-content: space-between;
    margin: 50px 80px;
    padding: 20px;
}

.footer-pages{
    display: flex;
    flex-direction: column;
}

.footer-policy{
    display: flex;
    flex-direction: column;
}

footer p{
    color: white;
    font-weight: 700;
}

.footer-logo p{
    color: red;
}

.footer-logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.footer-link{
    color: white;
    font-weight: 100;
    font-size: 12px;
}

.footer-logo img{
    width: 70px;
}

.copyright{
    border-top: 2px solid gray;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyright p{
    font-size: 10px;
    font-weight: 100;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 500px){
    ul{
        display: none;
    }

    .menu svg{
        font-size: 20px;
        display: block;
    }

    .footer-container{
        margin: 50px 20px;
    }

    .form-container{
        display: flex;
        flex-direction: column;
    }

    form button{
        font-size: 24px;
        padding: 10px 50px;
    }   
}