@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,700;1,100&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body{
    background-color: black;
}

.wrapper{
    margin: 0 auto;
    max-width: 1200px;
}

header{
    position: fixed;
    z-index: 1;
}

nav{
    background-color: white;
    border-bottom: 2px solid red;
    width: 100vw;
}

nav .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

.logo-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
    margin-left: 10px;
}

.logo{
    width: 50px;
    margin-top: 5px;
}

.logo-text{
    text-decoration: none;
    color: rgb(207, 8, 8);
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
}

.menu svg{
    margin-right: 10px;
    display: none;
}

ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.menu ul li{
    list-style-type: none;
}

.link{
    text-decoration: none;
    color: rgb(65, 65, 65);
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    transition: all 0.3s ease-in-out;
    border-bottom: 2px solid transparent;
}

.link:hover{
    color: rgb(221, 3, 3);
    border-color: rgb(221, 3, 3);
}

.link.active{
    color: rgb(221, 3, 3);
    border-color: rgb(221, 3, 3);
}

/* JUMBO */

.jumbo{
    background-image: url("assets/jumbo.jpg");
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.jumbo::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
}

.jumbo .cta{
    position: relative;
}

.jumbo .cta h1{
    font-size: 62px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-transform: capitalize;
    text-align: center;
}

.jumbo .cta .btns{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.btns a {
    text-decoration: none;
    color: inherit;
}

.btn-1, .btn-2{
    margin: 20 10 0 10px;
    padding: 10px 20px;
    font-weight: bold;
    border-radius: 30px;
    cursor: pointer;
    margin-top: 15px;
    transition: transform 0.3s ease-in-out;
}

.btn-1{
    background-color: rgb(170, 4, 4);
    color: white;
    margin-right: 15px;
}

.btn-2{
    background-color: white;
    color: black;
}

.btn-1:hover{
    background-color: rgb(255, 217, 0);
    color: black;
    transform: scale(1.1);
}

.btn-2:hover{
    background-color: rgb(255, 217, 0);
    color: black;
    transform: scale(1.1);
}

/* SEZIONE 1 */

.risto-section{
    border-top: 10px solid red;
    background-color: white;
    padding: 70px 0;
}

.risto-section .wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.risto-section .img, .risto-section .txt{
    width: 50%;
    /* border: 2px solid blue; */
}

.risto-section .img{
    display: flex;
    justify-content: center;
    align-items: center;
}

.risto-section .img img{
    border-radius: 10px;
    width: 300px;
}

.section-2{
    background-color: rgb(31, 30, 30);
    border-bottom: 10px solid red;
}

.section-2 .wrapper{
    flex-direction: row-reverse;
}

.section-2 .wrapper img{
    width: 500px;
}

.txt-white{
    color: white;
}



/* MORE SECTION */

.more-section{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.more-title{
    padding: 50px 0;
}

.more-title h2{
    font-size: 40px;
}

.cards-container{
    display: flex;
    gap: 30px;
    padding-bottom: 70px;
}

.card p{
    color: white;
    font-size: 40px;
    font-weight: 700;
    transition: color 0.3s ease-in-out;
    z-index: 2;
}

.card{
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
    width: 300px;
    height: 300px;
    border-radius: 10px;
    position: relative;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.card-1{
    background-image: url("assets/card1.jpg");
}

.card-2{
    background-image: url("assets/card2.jpg");
}

.card-3{
    background-image: url("assets/card3.jpg");
}

.card:hover {
    transform: scale(1.1);
}

.card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s ease-in-out; 
}

.card:hover::before {
    opacity: 1; 
}

/* FOOTER */

footer{
    border-top: 10px solid red;
}

.footer-container{
    display: flex;
    justify-content: space-between;
    margin: 50px 80px;
}

.footer-pages{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-policy{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

footer p{
    color: white;
    font-weight: 700;
}

.footer-logo p{
    color: red;
}

.footer-logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.footer-link{
    color: white;
    font-weight: 100;
    font-size: 12px;
}

.footer-logo img{
    width: 70px;
}

.copyright{
    border-top: 2px solid gray;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyright p{
    font-size: 10px;
    font-weight: 100;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 500px){
    ul{
        display: none;
    }

    .menu svg{
        font-size: 20px;
        display: block;
    }

    .risto-section .wrapper{
        flex-direction: column;
        gap: 15px;
    }

    .cards-container{
        flex-direction: column;
    }

    .footer-container{
        margin: 50px 20px;
    }
}